body {
	margin: auto;
    width: 50%;
}
.banner {
    margin-bottom: 0;
    background: -webkit-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1));	/* Standard syntax */
}

.banner p {
	font-family: "Arial";
	font-size: 40px;
	padding: 15px;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
}

.banner span {
	color: black;
}

.adminBanner {
    margin-bottom: 0;
    background: -webkit-linear-gradient(rgba(102,102,102,1), rgba(43,43,43,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(102,102,102,1), rgba(43,43,43,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(102,102,102,1), rgba(43,43,43,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(102,102,102,1), rgba(43,43,43,1));	/* Standard syntax */
}

.adminBanner p {
	font-family: "Arial";
	font-size: 40px;
	padding: 15px;
	font-weight: bold;
	color: white;
	margin-bottom: 0;
}

#header {
    background-color: rgb(43,43,43);
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header li {
    float: left;
    border-right:1px solid black;
}

#header li:last-child {
    border-right: none;
}

#header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover {
    color: rgb(246,163,15);
}

#header li a.active {
    color: rgb(246,163,15);
}

#adminHeader {
    background: -webkit-linear-gradient(rgba(76,159,237,1), rgba(16,72,167,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(76,159,237,1), rgba(16,72,167,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(76,159,237,1), rgba(16,72,167,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(76,159,237,1), rgba(16,72,167,1));	/* Standard syntax */
    
    background: rgba(76,159,237,1)
}

#adminHeader li {
    float: left;
}

#adminHeader li a:hover {
    color: black;
}

#adminHeader li a.active {
    color: black;
}



#adminHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#adminHeader li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

tr:nth-child(even) {
	background: rgb(216,216,216);
}

tr:nth-child(odd) {
	background: #FFF
}


th, td {
	width: 20%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
    background: -webkit-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1));	/* Standard syntax */
}

td { text-align: center; }
td * { display: inline; }

label {
	display: inherit;
	font-weight: bold;
	padding-top: 10px;
}

button {
	padding: 5px 20px 5px 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(250,201,46,1), rgba(246,163,15,1));
    border-style: none;
    font-weight: bold;
}

button:hover {
	color: white;
	cursor: pointer;
}

select, input, textarea {
	margin: 5px 5px 5px 0;
}

.containerBox {
    background-color: rgb(216,216,216);
   /*padding-top: 10px;*/
    padding: 10px;
}

.containerBox.center {
	text-align: center;
}

.horizontalRule {
	border: 0; 
	height: 1px;
	background-image: -webkit-linear-gradient(left, #D8D8D8, #A0A0A0, #D8D8D8);
	background-image: -moz-linear-gradient(left, #D8D8D8, #A0A0A0, #D8D8D8);
	background-image: -ms-linear-gradient(left, #D8D8D8, #A0A0A0, #D8D8D8);
	background-image: -o-linear-gradient(left, #D8D8D8, #A0A0A0, #D8D8D8);
}

.form-horizontal {
	margin-bottom: 0;
}

hr {
	margin-bottom: 0;
}