
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

#header li {
    float: left;
    border-right:1px solid #bbb;
}

#header li:last-child {
    border-right: none;
}

#header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover:not(.active) {
    background-color: green	;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
	width: 20%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 50px;
}

td { text-align: center; }
td * { display: inline; }

label {
	//padding: 10px 20px 10px 20px;
	display: inherit;
}

button {
	padding: 5px 20px 5px 20px;
}

select, input, textarea, label, button {
	margin: 5px 5px 5px 5px;
}

.yellowBox {
	background: yellow;
	//display: inline-block;
	//border: 1px solid black;
	
	margin: auto;
	margin-top: 10px;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}


